@each $prefix, $breakpoint in $breakpoints {
  @if ($breakpoint == 0) {
    @each $display in $display-options {
      .d-#{$display} {
        display: $display !important;
      }
    }
  } @else {
    @include media-breakpoint ($prefix) {
      @each $display in $display-options {
        .d-#{$prefix}-#{$display} {
          display: $display !important;
        }
      }
    }
  }
}