.col {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

@each $prefix, $breakpoint in $breakpoints {
  @if ($breakpoint == 0) {
    @include create-grid($prefix);
    @include create-offset($prefix, $breakpoint);
  } @else {
    @include media-breakpoint ($prefix) {
      @include create-grid($prefix);
      @include create-offset($prefix, $breakpoint);
    }
  }
}