// floats
$floats: (left, right, none);
$flex-directions: (row, row-reverse, column, column-reverse);
$text-alignments: (left, right, center, justify);
$justify-content-options: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around
);
$align-items-options: (
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch
);
$flex-wrap-options: (wrap, nowrap, wrap-reverse);

// generating everything
@each $prefix, $breakpoint in $breakpoints {
  @if ($breakpoint == 0) {
    @each $float in $floats {
      .float-#{$float} {
        float: $float !important;
      }
    }

    @each $flex-direction in $flex-directions {
      .flex-#{$flex-direction} {
        flex-direction: $flex-direction;
      }
    }

    @each $text-alignment in $text-alignments {
      .text-#{$text-alignment} {
        text-align: $text-alignment;
      }
    }

    @each $key, $value in $justify-content-options {
      .justify-content-#{$key} {
        justify-content: $value;
      }
    }

    @each $key, $value in $align-items-options {
      .align-items-#{$key} {
        align-items: $value;
      }

      .align-self-#{key} {
        align-self: $value;
      }
    }

    .flex-fill {
      flex: 0 0 auto !important;
    }

    @for $i from 0 through 1 {
      .flex-grow-#{$i} {
        flex-grow: $i;
      }

      .flex-shrink-#{$i} {
        flex-shrink: $i;
      }
    }

    @each $option in $flex-wrap-options {
      .flex-#{$option} {
        flex-wrap: $option;
      }
    }
  } @else {
    @include media-breakpoint ($prefix) {
      @each $float in $floats {
        .float-#{$prefix}-#{$float} {
          float: $float !important;
        }
      }

      @each $direction in $flex-directions {
        .flex-#{$prefix}-#{$direction} {
          flex-direction: $direction;
        }
      }

      @each $text-alignment in $text-alignments {
        .text-#{$prefix}-#{$text-alignment} {
          text-align: $text-alignment;
        }
      }

      @each $key, $value in $justify-content-options {
        .justify-content-#{$prefix}-#{$key} {
          justify-content: $value;
        }
      }

      @each $key, $value in $align-items-options {
        .align-items-#{$prefix}-#{$key} {
          align-items: $value;
        }

        .align-self-#{$prefix}-#{$key} {
          align-self: $value;
        }
      }

      .flex-fill-#{$prefix} {
        flex: 0 0 auto !important;
      }

      @for $i from 0 through 1 {
        .flex-grow-#{$prefix}-#{$i} {
          flex-grow: $i;
        }

        .flex-shrink-#{$prefix}-#{$i} {
          flex-shrink: $i;
        }
      }

      @each $option in $flex-wrap-options {
        .flex-#{$prefix}-#{$option} {
          flex-wrap: $option;
        }
      }
    }
  }
}