@mixin clearfix {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

@mixin media-breakpoint ($breakpoint) {
  @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content
  } 
}

@mixin create-grid ($prefix) {
  @for $i from 1 through 12 {
    .#{$prefix}-#{$i} {
      flex-basis: 100%/12*$i;
      flex-grow: 0;
      flex-shrink: 0;
      max-width: 100%/12*$i;
    }
  }
}

@mixin create-offset ($prefix, $breakpoint) {
  @for $i from 1 through 12 {
    @if ($breakpoint == 0) {
      .offset-#{$i} {
        margin-left: 100%/12*$i;
      }
    } @else {
      .offset-#{$prefix}-#{$i} {
        margin-left: 100%/12*$i;
      }
    }
  }
}