@each $prefix, $breakpoint in $breakpoints {
  @for $i from 1 through 12 {
    @if ($breakpoint == 0) {
      .order-#{$i} {
        order: $i;
      }
    } @else {
      @include media-breakpoint ($prefix) {
        .order-#{$prefix}-#{$i} {
          order: $i;
        }
      }
    }
  }
}