$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-width: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$display-options: (none, block, table, table-cell, table-row flex, inline, inline-block, inline-flex);

$gutter-width: 30px;