// importing variables
@import 'variables';

// importing mixins
@import 'mixins';

// importing normalize.scss
@import '~normalize-scss/sass/normalize/import-now';

* {
  box-sizing: border-box;
}

// importing grid-system
@import 'grid';

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter-width / 2;
  padding-right: $gutter-width / 2;
  width: 100%;

  @each $breakpoint, $width in $container-width {
    @include media-breakpoint ($breakpoint) {
      width: $width;
    }
  }

  &.fluid {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter-width / 2;
  margin-right: -$gutter-width / 2;

  &.no-gutter {
    margin-left: 0;
    margin-right: 0;

    .col {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// display classes
@import 'display';

// importing orders
@import 'order';

// importing helper classes
@import 'helpers';

